In [1]:
import pandas as pd
import numpy as np

In [29]:
df1= pd.read_csv('../1.csv')
df2= pd.read_csv('../2.csv')
df3= pd.read_csv('../3.csv')
df4= pd.read_csv('../4.csv')
df5= pd.read_csv('../5.csv')
df6= pd.read_csv('../6.csv')
df7= pd.read_csv('../7.csv')
df8= pd.read_csv('../8.csv')
df9= pd.read_csv('../9.csv')
df10= pd.read_csv('../10.csv')
df11= pd.read_csv('../11.csv')

df12= pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11], axis=0)
# df12.drop(['Unnamed: 0'], axis=1, inplace=True)
print(df12.shape)
# df12.to_csv('../test_text_final.csv', index=False)
df12.head()

(26178, 5)

,index,image_link,group_id,entity_name,extracted_text
0,105077,https://m.media-amazon.com/images/I/61ENN-R3p3...,359859,item_weight,Dimension--(4i)--Material: Oxford Plaid Fabric...
1,105078,https://m.media-amazon.com/images/I/61ENRGzi9t...,810266,height,"DIAMETER--1--HEIGHT--9""--30oz--volume--HEIGHT-..."
2,105079,https://m.media-amazon.com/images/I/61ENZXeW2D...,351134,width,3.66in/9.3cm--6.57in/16.7cm--5.63in/14.3cm--In...
3,105080,https://m.media-amazon.com/images/I/61ENgFCj0A...,276611,width,2.04in--5.11--5.66in--AT--8.66 in--30.7i--2.67...
4,105081,https://m.media-amazon.com/images/I/61ENiFwkWJ...,347404,width,12cm/4.7in--20cm--50cm/19.7in

In [14]:
# df11= pd.read_csv('../test_text_2_re.csv')
# print(df11.shape)
# df11.head()

(1000, 5)

,index,image_link,group_id,entity_name,extracted_text
0,2004,https://m.media-amazon.com/images/I/4107YHaKHY...,348551,wattage,"6838--LUTRON--COOPERSBURG,FA--A--120V~--60Hz--..."
1,2005,https://m.media-amazon.com/images/I/4107YHaKHY...,348551,voltage,"6838--LUTRON--COOPERSBURG,FA--A--120V~--60Hz--..."
2,2006,https://m.media-amazon.com/images/I/4107hqnUv2...,501250,voltage,33FT Extension Cord--SJTW3/C 16 AWG--Indoor--o...
3,2007,https://m.media-amazon.com/images/I/4108Ud0GgI...,658003,height,"ca.5,5cm--ca.30cm--ca.40cm"
4,2008,https://m.media-amazon.com/images/I/4108ZITX2n...,276611,height,35 cm 133/4--25 cm97/8--35 cm 13 3/4)--31 31.6...

In [13]:
df15= df11[['index', 'entity_name']]
print(df15.info())
df15.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        1000 non-null   int64
 1   entity_name  1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB
None

   index entity_name
0   2004     wattage
1   2005     voltage
2   2006     voltage
3   2007      height
4   2008      height

In [34]:
print(df12['index'].unique().shape)
# print(df12['extracted_text'].isnull().sum())
df12['extracted_text'] = df12['extracted_text'].fillna('')
print(df12['extracted_text'].isnull().sum())

df12.to_csv('../test_text_final.csv', index=False)

(26178,)
0

In [33]:
duplicates = df11[df11.duplicated(subset=['index'], keep=False)]
duplicates
# df11.head()

Empty DataFrame
Columns: [index, image_link, group_id, entity_name, extracted_text]
Index: []